apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
images:
- name: 176848839566.dkr.ecr.ap-northeast-2.amazonaws.com/demo-frontend
  newName: 176848839566.dkr.ecr.ap-northeast-2.amazonaws.com/demo-frontend
  newTag: d66734de
resources:
- ../../base
patchesStrategicMerge:
- front-deployment-patch.yaml
- front-service-patch.yaml
